<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bamboozled</title>
    <link rel="stylesheet" type="text/css" href="{% static 'website/css/2nd.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

</head>
<body>
    <iframe data-aa='872524' src='//acceptable.a-ads.com/872524' scrolling='no' style='border:0px; padding:0;overflow:hidden' allowtransparency='true'></iframe>    </footer>

    <div id="img">
        {% for image in image %}
        <img src="{{ image.link }}">
        {% endfor %}
    </div>
</body>
<div id="footer">
    <footer>
        <ul>
            <li><a href="./about">About</a></li>
            <li><a href="./terms">Terms</a></li>
        </ul>
</div>
</html>
