<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Terms</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet"> 
    <link rel="stylesheet" href="{% static 'website/css/terms.css' %}">
</head>

<body>
    <p>
        By using this website agree to the following terms of this website. <br><u>TERMS</u><br> You can’t sue the website nor its owner. No other
        legal measure can be taken on this website. This website is not meant for malicious uses. It just a fun clean website.
        If you have a problem with that I say you better get out lol. But that’s the only term. you can’t take any legal actions
        against me lolz

    </p>
</body>

</html>